<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand mb-0 h1" href="/">Home</a>
  <a class="navbar-brand mb-0 h1" href="https://github.com/arkency/find-open-source-mentor"><%=image_tag("github.png")%></a>

  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link" href="/juniors">Developers</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/projects">Projects</a>
      </li>
      <li class="nav-item">
        <% if user_signed_in? %>
          <%= link_to 'Sign Out', destroy_user_session_path, method: :delete, class: "nav-link"  %>
        <% else %>
          <%= link_to "Sign in with Github", root_path, class: "nav-link"  %>
        <% end %>
      </li>
    </ul>
  </div>
</nav>